body{
  text-align: center ;
  background-color:crimson;
  color: white;
  font-size: 25px;
}
#div1{
  float: right;
}

canvas 
  {
   

    animation-iteration-count: infinite;
    
}
@keyframes example {

  
}





